<div>
    <button (click)="goBack()">go back</button>
</div>
<div *ngIf="accountDetail">

  <h2>{{accountDetail.name | uppercase}} Details</h2>
  <div><span>id: </span>{{accountDetail.id}}</div>
  <div>
    <label>name:
      <input [(ngModel)]="accountDetail.name" placeholder="name" />
    </label>
    </div>
    <div>
    <label>phone:
      <input [(ngModel)]="accountDetail.phone" placeholder="phone" />
    </label>
  </div>
  <div>
    <label>email:
      <input [(ngModel)]="accountDetail.email" placeholder="email" />
    </label>
  </div>
  <div>
    <label>comment:
      <input [(ngModel)]="accountDetail.comment" placeholder="comment" />
    </label>
    </div>
    <a *ngFor="let log of accountDetail.log">
      <div><label>{{log}} </label></div>
    </a>
  </div>